  <!DOCTYPE html>
  <html lang="en">
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Time Secured | The TIME SECURED App makes everything from creating the document vaults</title>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  	<link href="<%=nodeSiteUrl%>/home_assets/css/bootstrap.min.css" rel="stylesheet">
  	<link href="<%=nodeSiteUrl%>/home_assets/css/slick.css" rel="stylesheet">
  	<link href="<%=nodeSiteUrl%>/home_assets/css/style.css" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
  	<meta name="description" content="
  	Making sure your loved ones get the information you had set out for them has never been easier. You can rest knowing that what you wanted to share with others is possible, even if you are not around to do it. Having that piece of mind is what Time Secured is all about and why it was created.
  	The TIME SECURED App makes everything from creating the document vaults, to adding beneficiaries and setting the access timelines a simple process. The easy to use App is your tool to make sure your loved ones get the information you want them to have, when you want them to.">

  	<meta name="keywords" content="Time Secured,information,SECURED,TIME,tool,beneficiaries,mobile app,app,application,vaults,beneficiary">

   <meta name="author" content="Abdullah Masood">
   <meta name="publisher" content="Time Secured">
   <link rel="canonical" href="https://3.96.252.122/" />
   <meta name="robots" content="follow" />
    <meta name="facebook-domain-verification" content="c552x1l5qvk70xyk7i8biagr5wxzg5" />
   
   <!-- Facebook Pixel Code -->
   <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '220499823130653');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=220499823130653&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->


    </head>



    <body>

