 <footer id="mu-footer" role="contentinfo">

         <div class="col-md-12" style="text-align:center" >
            <b><p style="margin-top: 30px;margin-bottom: 0; font-size:15px">
            <!--<a data-toggle="modal" data-target="#exampleModal">
               Privacy Policies
            </a>-->
           
            </p></b>
         </div>
         <div class="container">
            
            <div class="mu-footer-area">
               <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="">Time Secured</a>. All right reserved.</p>
            </div>
         </div>
      </footer>
     