<%- include('common-header') %>

  <header id="mu-header" class="" role="banner">
         <div class="mu-header-overlay">
            <div class="container">
               <div class="mu-header-area">
                 
                  <div class="mu-login-btn">
                    <a href="https://timesecured.com/login">Login</a>
                  </div>
                  <div class="mu-header-featured-area">
                     <div class="mu-header-featured-img">
                        <img src="https://timesecured.com/home_assets/images/iphone.png" alt="iphone image">
                     </div>

                     <div class="mu-header-featured-content">
                        <div class="">
                           <a class="mu-logo" href="#"><img src="https://timesecured.com/home_assets/images/logo.png" alt="logo img"></a>
                        </div>
                        <h1>Welcome To <span><img src="https://timesecured.com/home_assets/images/Time-Secured.png"></span></h1>
                        <p>Making sure your loved ones get the information you had set out for them has never
                           been easier. You can rest knowing that what you wanted to share with others is
                           possible, even if you are not around to do it. Having that piece of mind is what Time
                           Secured is all about and why it was created.
                        </p>
                        <!-- <div class="mu-app-download-area">
                           <h4>Download The App</h4>
                           <a class="mu-apple-btn" href="#"><i class="fa fa-apple"></i><span>apple store</span></a>
                           <a class="mu-google-btn" href="#"><i class="fa fa-android"></i><span>google play</span></a>
                           </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>


     
   
      <main role="main" style="
">
          <section id="mu-video23">
            <div class="mu-video-overlay23">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="mu-video-area23" style="
    margin-top: 80px;
    margin-bottom: 80px;
">
    <div class="mu-title-area Privacy-Policy">
                           <h2 class="mu-heading-title">TERMS & CONDITIONS</h2>
                           <span class="mu-title-dot"></span>  
                        </div>
                             <p>By downloading, browsing, accessing or using this TIME SECURED Application (“TIME SECURED Mobile Application”), you agree to be bound by these Terms and Conditions of Use. We reserve the right to amend these terms and conditions at any time. If you disagree with any of these Terms and Conditions of Use, you must immediately discontinue your access to the TIME SECURED Mobile Application and your use of the services offered on the TIME SECURED Mobile Application. Continued use of the TIME SECURED Mobile Application will constitute acceptance of these Terms and Conditions of Use, as may be amended from time to time</p>
         
         <h5>Terms to Use</h5>
            <li>Nomadica Tech Limited is committed to ensuring that the app is as useful and efficient as possible. For that reason, we reserve the right to make changes to the app or to charge for its services, at any time and for any reason. We will never charge you for the app or its services without making it very clear to you exactly what you’re paying for.</li>
         <li>The TIME SECURED app stores and processes personal data that you have provided to us, in order to provide my Service. It’s your responsibility to keep your phone and access to the app secure. We therefore recommend that you do not jailbreak or root your phone, which is the process of removing software restrictions and limitations imposed by the official operating system of your device. It could make your phone vulnerable to malware/viruses/malicious programs, compromise your phone’s security features and it could mean that the TIME SECURED app won’t work properly or at all.</li>

         <li> Nomadica Tech Limited cannot always take responsibility for the way you use the app i.e. You need to make sure that your device stays charged – if it runs out of battery and you can’t turn it on to avail the Service, Nomadica Tech Limited cannot accept responsibility.</li>

         <li> At some point, we may wish to update the app. The app is available for both Android & iOS – the requirements for system (and for any additional systems we decide to extend the availability of the app to) may change, and you’ll need to download the updates if you want to keep using the app. Nomadica Tech Limited does not promise that it will always update the app so that it is relevant to you and/or works with the Android or iOS version that you have installed on your device. However, you promise to always accept updates to the application when offered to you, we may also wish to stop providing the app, and may terminate use of it at any time without giving notice of termination to you</li>

         <li>We strongly recommend that you only download the TIME SECURED applications from Google Play Store and App Store. Doing so will ensure that your apps are legitimate and safe from malicious software.</li>
         <br>

         <h4>Auto Renewing Subscriptions:</h4>
            <li> Subscribed user has unlimited access to the app.</li>
            <li> Unsubscribed user can only use those services with limited quota per day.</li>
            <li> Payment will be charged to iTunes Account at confirmation of purchase</li>
            <li> Subscription automatically renews unless auto-renew is turned off at least 24-hours before the end of the current period</li>
            <li> Account will be charged for renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal</li>
            <li>Subscriptions may be managed by the user and auto-renewal may be turned off by going to the user’s Account Settings after purchase</li>
            <li>Any unused portion of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication, where applicable.</li>

            <br>
       

         <h5>Subscriptions</h5>
         <p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set on a monthly basis.</p>

         <p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Nomadica Tech LLC cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting Nomadica Tech LLC customer support team.</p>

         <p>A valid payment method, including credit card or PayPal, is required to process the payment for your Subscription. You shall provide Nomadica Tech LLC with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize Nomadica Tech LLC to charge all Subscription fees incurred through your account to any such payment instruments.</p>

         <p>Should automatic billing fail to occur for any reason, Nomadica Tech LLC will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.</p>

         <br>

         <h5>Free Trial</h5>
         <p>Nomadica Tech LLC may, at its sole discretion, offer a Subscription with a free trial for a limited period of time ("Free Trial")</p>

         <p>You may be required to enter your billing information in order to sign up for the Free Trial.</p>

         <p>If you do enter your billing information when signing up for the Free Trial, you will not be charged by Nomadica Tech LLC until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription, you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.</p>

         <p>At any time and without notice, Nomadica Tech LLC reserves the right to (i) modify the terms and conditions of the Free Trial offer, or (ii) cancel such Free Trial offer.</p>

        
         <br>

         <h5>Fee Changes</h5>
         <p>Nomadica Tech LLC, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>

         <p>Nomadica Tech LLC will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.</p>
         <p>Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.</p>

        
          <br>
          <h5>Refunds</h5>
          <p> Certain refund requests for Subscriptions may be considered by Nomadica Tech LLC on a case-by-case basis and granted in sole discretion of Nomadica Tech LLC.</p>

          <li>The TIME SECURED Mobile Application, the Services, the information on the TIME SECURED Mobile Application and use of all related facilities are provided on an "as is, as available" basis without any warranties whether express or implied.</li>

           <li>To the fullest extent permitted by applicable law, we disclaim all representations and warranties relating to the TIME SECURED Mobile Application and its contents, including in relation to any inaccuracies or omissions in the TIME SECURED Mobile Application, warranties of merchantability, quality, fitness for a particular purpose, accuracy, availability, non-infringement or implied warranties from course of dealing or usage of trade.</li>

           <li>We do not warrant that the TIME SECURED Mobile Application will always be accessible, uninterrupted, timely, secure, error free or free from computer virus or other invasive or damaging code or that the TIME SECURED Mobile Application will not be affected by any acts of God or other force majeure events, including inability to obtain or shortage of necessary materials, equipment facilities, power or telecommunications, lack of telecommunications equipment or facilities and failure of information technology or telecommunications equipment or facilities.</li>

           <li>While we may use reasonable efforts to include accurate and up-to-date information on the TIME SECURED Mobile Application, we make no warranties or representations as to its accuracy, timeliness or completeness</li>

           <li>We shall not be liable for any acts or omissions of any third parties howsoever caused, and for any direct, indirect, incidental, special, consequential or punitive damages, howsoever caused, resulting from or in connection with the TIME SECURED Mobile Application and the services offered in the TIME SECURED Mobile Application, your access to, use of or inability to use the TIME SECURED Mobile Application or the services offered in the TIME SECURED Mobile Application, reliance on or downloading from the TIME SECURED Mobile Application and/or services, or any delays, inaccuracies in the information or in its transmission including but not limited to damages for loss of business or profits, use, data or other intangible, even if we have been advised of the possibility of such damages</li>

           <li>We shall not be liable in contract, tort (including negligence or breach of statutory duty) or otherwise howsoever and whatever the cause thereof, for any indirect, consequential, collateral, special or incidental loss or damage suffered or incurred by you in connection with the TIME SECURED Mobile Application and these Terms and Conditions of Use. For the purposes of these Terms and Conditions of Use, indirect or consequential loss or damage includes, without limitation, loss of revenue, profits, anticipated savings or business, loss of data or goodwill, loss of use or value of any equipment including software, claims of third parties, and all associated and incidental costs and expenses.</li>

           <li> The above exclusions and limitations apply only to the extent permitted by law. None of your statutory rights as a consumer that cannot be excluded or limited are affected.</li>

<br>
         <h5>Intellectual Property Rights</h5>
         <li>All editorial content, information, photographs, illustrations, artwork and other graphic materials, and names, logos and trade marks on the TIME SECURED Mobile Application are protected by copyright laws and/or other laws and/or international treaties, and belong to us and/or our suppliers, as the case may be. These works, logos, graphics, sounds or images may not be copied, reproduced, retransmitted, distributed, disseminated, sold, published, broadcasted or circulated whether in whole or in part, unless expressly permitted by us and/or our suppliers, as the case may be</li>

         <li> Nothing contained on the TIME SECURED Mobile Application should be construed as granting by implication, estoppel, or otherwise, any license or right to use any trademark displayed on the TIME SECURED Mobile Application without our written permission. Misuse of any trademarks or any other content displayed on the TIME SECURED Mobile Application is prohibited.</li>

         <li>We will not hesitate to take legal action against any unauthorised usage of our trade marks, name or symbols to preserve and protect its rights in the matter. All rights not expressly granted herein are reserved. Other product and company names mentioned herein may also be the trade marks of their respective owners</li>

         <br>
         <h5>Copyright Infringements</h5>
         <p>We respect the intellectual property rights of others. If you believe that any material available on or through the App infringes upon any copyright you own or control, please immediately notify us using the contact information provided below (a “Notification”). A copy of your Notification will be sent to the person who posted or stored the material addressed in the Notification. Please be advised that pursuant to federal law you may be held liable for damages if you make material misrepresentations in a Notification. Thus, if you are not sure that material located on or linked to by the App infringes your copyright, you should consider first contacting an attorney.</p>

         <br>
         <h5>Changes to This Terms and Conditions</h5>
         <p>I may update our Terms and Conditions from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Terms and Conditions on this page. These changes are effective immediately after they are posted on this page</p>

       
        
       

       
<br>
         
         <h5>Contact Us</h5>
         <p> If you have any questions about this Privacy Policy, please contact us:</p>
         <p>By email: timesecured@outlook.com</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         
            </section>
       
       
       
     
      </main>
     <%- include('common-footer') %>

   </body>
</html>
